<section id="case-resutls" class="case-resutls">
  <div class="container">
    <div class="row text-center">
          <div class="col">
             <h3 class="title-head">Case Results</h3>
             <p class="title-description">Law House is a firm dolor sit amet, consectetur adipisicing elit, sed do eius mod tempor incididunt ut labore et dolore magna </p>
          </div>
    </div><!--/ Title row end -->

    <div class="row">
      <div class="col-md-4">
        <div class="case-item">
          <div class="img-thumb">
            <img class="img-fluid" src="assets/images/cases/case1.jpg" alt="" />
            <div class="case-details">
              <div class="case-details-content">
                <h3 class="case-amount"><a href="#">$130,000</a></h3>
                <h4 class="case-desc">Settelement for sexual harasment in a play ground</h4>
              </div>
            </div><!-- Case details end -->
          </div><!-- Item img end -->
        </div><!-- Case item end -->
      </div><!-- 1st item col end -->

      <div class="col-md-4">
        <div class="case-item">
          <div class="img-thumb">
            <img class="img-fluid" src="assets/images/cases/case2.jpg" alt="" />
            <div class="case-details">
              <div class="case-details-content">
                <h3 class="case-amount"><a href="#">$480,500</a></h3>
                <h4 class="case-desc">Settelement for sexual harasment in a play ground</h4>
              </div>
            </div><!-- Case details end -->
          </div><!-- Item img end -->
        </div><!-- Case item end -->
      </div><!-- 2nd item col end -->

      <div class="col-md-4">
        <div class="case-item">
          <div class="img-thumb">
            <img class="img-fluid" src="assets/images/cases/case3.jpg" alt="" />
            <div class="case-details">
              <div class="case-details-content">
                <h3 class="case-amount"><a href="#">$920,800</a></h3>
                <h4 class="case-desc">Settelement for sexual harasment in a play ground</h4>
              </div>
            </div><!-- Case details end -->
          </div><!-- Item img end -->
        </div><!-- Case item end -->
      </div><!-- 3rd item col end -->

    </div><!--/ Content row end -->

    <div class="general-btn text-center"><a class="btn btn-primary" href="#">View All</a></div>

  </div><!--/ Container end -->
</section><!-- Case result end -->
