<div>
    <p>Pourquoi vous engager</p>
    <div>
        <p>Adhérer au Mouvement Panafricain et Citoyen « Bougeons-nous » c’est :</p>
        <ul style="square">
            <li>Défendre des convictions et des valeurs.</li>
            <li>Jouer un rôle-clé dans le maintien du lien social entre citoyens.</li>
            <li>Vouloir contribuer à la transformation de notre pays.</li>
            <li>Devenir acteur et non spectateur.</li>
            <li>Faire la promotion de la Démocratie Citoyenne.</li>
        </ul>
        <p>
          Merci de renseigner la fiche ci-dessous :
        </p>
    </div> 
</div>