<div>
    <h3>Mouvement « Bougeons-Nous » !</h3>
    
    <p>Le Mouvement Panafricain et Citoyen « Bougeons-Nous » est avant tout une identité et un espace de réflexion qui a l’ambition de dépasser les clivages anciens.</p>
    <p>Ce mouvement est ouvert à tous les citoyens congolais sans exception. Peu importe votre religion, votre appartenance ethnique ou politique, vous trouverez au sein de notre mouvement, des patriotes prêts à vous accompagner. Vous ne serez jamais seul quelles que soient les circonstances.</p>
    <p>Nous sommes le Congo, la chair de la nation congolaise. En d’autres temps, on aurait dit « <em>l’Espoir d’une Génération</em> ». C’est pourquoi, nous voulons amener en politique la nouvelle génération d’hommes et de femmes qui ne se sont jamais engagés mais aussi ramener ceux qui s’en étaient éloignés. </p>
    <p>Notre volonté est de recréer le lien social entre les citoyens de toutes les générations, de renouer avec la confiance et l’optimisme et de refonder les bases de la Nation congolaise par le bas.</p>
    <p>Quelque soit votre rang social, pécheur, maçon, menuisier, paysan, artisan, élève, étudiant, chômeur, salarié, cadre ou analphabète, vous êtes le maillon fort de notre mouvement. Vous êtes des « <em><strong>Bougeurs</strong></em> ».</p>
    <p>Porté par votre énergie et votre dynamisme, nous ferons de notre mouvement, une école de pensée dans laquelle <strong>l’Unité, la Solidarité, le Progrès Social et la Démocratie Citoyenne</strong> seront des leitmotivs.</p>
    <p>Notre premier objectif n’est pas de convaincre. Nous voulons avant tout écouter, comprendre les attentes et les espoirs afin de dresser le diagnostic de notre pays, ce qui nous permettrait in fine d’inventer le Congo de demain.</p>
    <p>Refonder les pratiques politiques et renouveler en profondeur notre démocratie par la probité et l’éthique, une parité réelle, un renouvellement et un pluralisme politique, voilà le cahier de charges que se donne les membres de notre mouvement.</p>
    <p>Notre succès dépend de l’engagement de chacun et de chacune d’entre nous.</p>
    <p><strong>Nous sommes le Congo Uni, Jamais sans nous.</strong></p>
</div>>