/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/node_modules/
/web/bundles/
!/web/bundles/tvcongo
/web/uploads/news/
/web/css/
.bash_history
.composer/
.profile
.profile.save
.profile.save.1
.ssh/
.subversion/
.vim/
.viminfo
HEAD
composer.phar
config/
!/src/**/config/
description
hooks/
/stats/tvcongo.com/
symfony.phar
backups/
var\\logs
var/logs/*
var/cache/*
.idea/
.lesshst
.gitconfig
/nbproject/
/stats/
