/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/node_modules/
!/web/.htaccess
/web/*
/tmp/
.bash_history
.composer/
.profile
.profile.save
.profile.save.1
.ssh/
.subversion/
.vim/
.viminfo
.node_repl_history
.npm/
.nvm/
backend/
HEAD
composer.phar
config/
!/src/**/config/
description
hooks/
/stats/tvcongo.com/
symfony.phar
backups/
var\\logs
var/logs/*
var/cache/*
.idea/
.lesshst
.gitconfig
/nbproject/
/stats/
/web/.user.ini
/web/.infomaniak-maintenance.html
