<!-- Footer start -->
<footer id="footer" class="footer">
  <div class="angle-bg"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 logo-area">
        <h2 _ngcontent-c2="">MPC CONGO</h2>
      </div>
      <div class="col-lg-4 col-md-6 ml-lg-auto">
        <div class="footer-top-call">
          <h3><i class="ion-android-call"></i> (000) - 321 - 5463</h3>
        </div>
      </div>
    </div><!-- Row end -->


    <div class="row">
      <div class="col-lg-3 col-md-6 col-12 footer-widget">
        <h3 class="widget-title">À propos de nous</h3>
        <p class="footer-about-desc">
          We are a awward winning Law Agency company. We believe in quality and standard worldwide. It has survived not only five centuries.
        </p>
        <div class="footer-social">
          <a href="#"><i class="ion-social-facebook"></i></a>
          <a href="#"><i class="ion-social-twitter"></i></a>
          <a href="#"><i class="ion-social-googleplus"></i></a>
          <a href="#"><i class="ion-social-instagram"></i></a>
          <a href="#"><i class="ion-social-youtube"></i></a>
        </div>
      </div><!-- Footer widget end -->

      <div class="col-lg-2 col-md-6 col-12 footer-widget">
        <h3 class="widget-title">Contact</h3>
        <div class="contact-info-box">
          <i class="ion-ios-location"></i>
          <div class="contact-info-box-content">
            <p>-II-</p>
          </div>
        </div>
        <div class="contact-info-box">
          <i class="ion-email"></i>
          <div class="contact-info-box-content">
            <p>contact@mpc-congo.com</p>
          </div>
        </div>
        <div class="contact-info-box">
          <i class="ion-android-call"></i>
          <div class="contact-info-box-content">
            <p>(000)-231-5463</p>
          </div>
        </div>
      </div><!-- Footer widget end -->

      <div class="col-lg-3 col-md-6 col-12 footer-widget">
        <h3 class="widget-title">Liens utiles</h3>

        <ul class="unstyled">
          <li><a routerLink="/">Accueil</a></li>
          <li><a routerLink="who_are_us">Qui sommes-nous ?</a></li>
          <li><a routerLink="our_ideas">Nos idées</a></li>
          <li><a routerLink="your_contributions">Vos contributions</a></li>
          <li><a routerLink="rehab">Desintox</a></li>
          <li><a routerLink="join_us">Adhérer</a></li>
        </ul>
      </div><!-- Footer widget end -->

      <div class="col-lg-4 col-md-6 col-12 footer-widget newsletter-widget">

        <h3 class="widget-title"><span>Newsletter</span></h3>

        <form action="#" method="post" id="newsletter-form" class="newsletter-form">
          <div class="form-group">
            <input type="email" name="email" id="newsletter-form-email" class="form-control form-control-lg" placeholder="Email" autocomplete="off">
            <button class="btn btn-primary">Souscrire</button>
          </div>
        </form>
      </div><!-- Footer widget end -->

    </div><!--/ Content row end -->

    <div class="row copyright">
      <div class="col-12 col-md-5">
        <div class="copyright-info">
          <span>Copyright © 2019 MPC Congo. Tous les droits sont réservés.</span>
        </div>
      </div>

      <div class="col-12 col-md-6 ml-md-auto">
        <div class="footer-menu">
          <ul class="nav unstyled ">
            <li><a routerLink="contact_us">Contact</a></li>
          </ul>
        </div>
      </div>
    </div><!-- Copyright -->

  </div><!--/ Container end -->
</footer><!-- Footer end -->
