<!-- Footer start -->
<footer id="footer" class="footer">
  <div class="angle-bg"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <img src="assets/images/footer-logo.png" alt="" />
      </div>
      <div class="col-lg-4 col-md-6 ml-lg-auto">
        <div class="footer-top-call">
          <h3><i class="ion-android-call"></i> (000) - 321 - 5463</h3>
        </div>
      </div>
    </div><!-- Row end -->


    <div class="row">
      <div class="col-lg-3 col-md-6 col-12 footer-widget">
        <h3 class="widget-title">About Us</h3>
        <p class="footer-about-desc">
          We are a awward winning Law Agency company. We believe in quality and standard worldwide. It has survived not only five centuries.
        </p>
        <div class="footer-social">
          <a href="#"><i class="ion-social-facebook"></i></a>
          <a href="#"><i class="ion-social-twitter"></i></a>
          <a href="#"><i class="ion-social-googleplus"></i></a>
          <a href="#"><i class="ion-social-instagram"></i></a>
          <a href="#"><i class="ion-social-youtube"></i></a>
        </div>
      </div><!-- Footer widget end -->

      <div class="col-lg-2 col-md-6 col-12 footer-widget">
        <h3 class="widget-title">Contact Us</h3>
        <div class="contact-info-box">
          <i class="ion-ios-location"></i>
          <div class="contact-info-box-content">
            <p>1102 Saint Marys, Junction City, KS, WA-98000.</p>
          </div>
        </div>
        <div class="contact-info-box">
          <i class="ion-email"></i>
          <div class="contact-info-box-content">
            <p>contact@biz.com</p>
          </div>
        </div>
        <div class="contact-info-box">
          <i class="ion-android-call"></i>
          <div class="contact-info-box-content">
            <p>+88 0123 4567 890</p>
            <p>+88 0231 3421 453</p>
          </div>
        </div>
      </div><!-- Footer widget end -->

      <div class="col-lg-3 col-md-6 col-12 footer-widget">
        <h3 class="widget-title">Useful Links</h3>

        <ul class="unstyled">
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Practice Areas</a></li>
          <li><a href="#">Attorneys</a></li>
          <li><a href="#">Case Results</a></li>
          <li><a href="#">Price List</a></li>
          <li><a href="#">Business Law</a></li>
          <li><a href="#">Legal News</a></li>
        </ul>
      </div><!-- Footer widget end -->

      <div class="col-lg-4 col-md-6 col-12 footer-widget newsletter-widget">

        <h3 class="widget-title">Subscribe to our <span>Newsletter</span></h3>

        <form action="#" method="post" id="newsletter-form" class="newsletter-form">
          <div class="form-group">
            <input type="email" name="email" id="newsletter-form-email" class="form-control form-control-lg" placeholder="Your Email Here" autocomplete="off">
            <button class="btn btn-primary">Subscribe</button>
          </div>
        </form>
      </div><!-- Footer widget end -->

    </div><!--/ Content row end -->

    <div class="row copyright">
      <div class="col-12 col-md-5">
        <div class="copyright-info">
          <span>Copyright © 2018 LawBiz. All Rights Reserved.</span>
        </div>
      </div>

      <div class="col-12 col-md-6 ml-md-auto">
        <div class="footer-menu">
          <ul class="nav unstyled ">
            <li><a href="#">Terms of Use</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Advetise</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
      </div>
    </div><!-- Copyright -->

  </div><!--/ Container end -->
</footer><!-- Footer end -->
