<section id="clients" class="clients">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <h3 class="title-classic">Nos partenaires</h3>
        <p class="lead">Lorem ipsum dolor sit amet, consec tetur adipi sicing elit, sed do eiusmod tempor incidi dunt ut labore et dolore magna aliqua romaro tomaiyn dilemaso onendo. </p>
      </div>
      <div class="col-md-6 ml-lg-auto">
        <ul class="row clients-row unstyled">
          <li class="col-lg-4 col-md-4 col-6">
            <span class="client-logo">
              <a href="#"><img src="assets/images/clients/client1.png" alt="" /> </a>
            </span>
          </li>
          <li class="col-lg-4 col-md-4 col-6">
            <span class="client-logo">
              <a href="#"><img src="assets/images/clients/client2.png" alt="" /> </a>
            </span>
          </li>
          <li class="col-lg-4 col-md-4 col-6">
            <span class="client-logo">
              <a href="#"><img src="assets/images/clients/client3.png" alt="" /> </a>
            </span>
          </li>
          <li class="col-lg-4 col-md-4 col-6">
            <span class="client-logo">
              <a href="#"><img src="assets/images/clients/client4.png" alt="" /> </a>
            </span>
          </li>
          <li class="col-lg-4 col-md-4 col-6">
            <span class="client-logo">
              <a href="#"><img src="assets/images/clients/client5.png" alt="" /> </a>
            </span>
          </li>
          <li class="col-lg-4 col-md-4 col-6">
            <span class="client-logo">
              <a href="#"><img src="assets/images/clients/client6.png" alt="" /> </a>
            </span>
          </li>
          <li class="col-lg-4 col-md-4 col-6">
            <span class="client-logo">
              <a href="#"><img src="assets/images/clients/client7.png" alt="" /> </a>
            </span>
          </li>
          <li class="col-lg-4 col-md-4 col-6">
            <span class="client-logo">
              <a href="#"><img src="assets/images/clients/client8.png" alt="" /> </a>
            </span>
          </li>
          <li class="col-lg-4 col-md-4 col-6">
            <span class="client-logo">
              <a href="#"><img src="assets/images/clients/client9.png" alt="" /> </a>
            </span>
          </li>
        </ul>

      </div><!-- Client logo end -->
    </div><!--/ Content row end -->
  </div><!--/ Container end -->
</section><!--/ Clients end -->
