<section id="practice-area" class="practice-area">
  <div class="container">
    <div class="row text-center">
          <div class="col">
             <h3 class="title-head">Practice Area</h3>
             <p class="title-description">Law House is a firm dolor sit amet, consectetur adipisicing elit, sed do eius mod tempor incididunt ut labore et dolore magna </p>
          </div>
    </div><!--/ Title row end -->

    <div class="row">
      <div class="col-lg-4 col-md-12 mrb-30">
        <div class="practice-item">
          <div class="img-thumb">
            <img class="img-fluid" src="assets/images/practice/family.jpg" alt="" />
            <div class="overlay text-center">
              <span class="practice-icon">
                <i class="ion-ios-people-outline"></i>
              </span>
              <h3 class="practice-title">Family Law</h3>
              <p class="practice-details">Lorem ipsum dolor sit amet, consecteturnos mpor incididunt ut labore et dolore magnaaei aliqua. Ut enim ad minim veniam</p>
              <a class="read-more" href="#">Read More</a>
            </div><!-- Item overlay end -->
          </div><!-- Item img end -->
        </div><!-- Practice item end -->
      </div><!-- 1st item col end -->

      <div class="col-lg-4 col-md-12 mrb-30">
        <div class="practice-item">
          <div class="img-thumb">
            <img class="img-fluid" src="assets/images/practice/land.jpg" alt="" />
            <div class="overlay text-center">
              <span class="practice-icon">
                <i class="ion-ios-home-outline"></i>
              </span>
              <h3 class="practice-title">Land &amp; Asset</h3>
              <p class="practice-details">Lorem ipsum dolor sit amet, consecteturnos mpor incididunt ut labore et dolore magnaaei aliqua. Ut enim ad minim veniam</p>
              <a class="read-more" href="#">Read More</a>
            </div><!-- Item overlay end -->
          </div><!-- Item img end -->
        </div><!-- Practice item end -->
      </div><!-- 2nd item col end -->

      <div class="col-lg-4 col-md-12 mrb-30">
        <div class="practice-item">
          <div class="img-thumb">
            <img class="img-fluid" src="assets/images/practice/sex.jpg" alt="" />
            <div class="overlay text-center">
              <span class="practice-icon">
                <i class="ion-woman"></i>
              </span>
              <h3 class="practice-title">Sexual Offense</h3>
              <p class="practice-details">Lorem ipsum dolor sit amet, consecteturnos mpor incididunt ut labore et dolore magnaaei aliqua. Ut enim ad minim veniam</p>
              <a class="read-more" href="#">Read More</a>
            </div><!-- Item overlay end -->
          </div><!-- Item img end -->
        </div><!-- Practice item end -->
      </div><!-- 3rd item col end -->

      <div class="col-lg-4 col-md-12">
        <div class="practice-item">
          <div class="img-thumb">
            <img class="img-fluid" src="assets/images/practice/finance.jpg" alt="" />
            <div class="overlay text-center">
              <span class="practice-icon">
                <i class="ion-cash"></i>
              </span>
              <h3 class="practice-title">Finance Law</h3>
              <p class="practice-details">Lorem ipsum dolor sit amet, consecteturnos mpor incididunt ut labore et dolore magnaaei aliqua. Ut enim ad minim veniam</p>
              <a class="read-more" href="#">Read More</a>
            </div><!-- Item overlay end -->
          </div><!-- Item img end -->
        </div><!-- Practice item end -->
      </div><!-- 4th item col end -->

      <div class="col-lg-4 col-md-12">
        <div class="practice-item">
          <div class="img-thumb">
            <img class="img-fluid" src="assets/images/practice/criminal.jpg" alt="" />
            <div class="overlay text-center">
              <span class="practice-icon">
                <i class="ion-social-reddit-outline"></i>
              </span>
              <h3 class="practice-title">Criminal Defense</h3>
              <p class="practice-details">Lorem ipsum dolor sit amet, consecteturnos mpor incididunt ut labore et dolore magnaaei aliqua. Ut enim ad minim veniam</p>
              <a class="read-more" href="#">Read More</a>
            </div><!-- Item overlay end -->
          </div><!-- Item img end -->
        </div><!-- Practice item end -->
      </div><!-- 5th item col end -->

      <div class="col-lg-4 col-md-12">
        <div class="practice-item">
          <div class="img-thumb">
            <img class="img-fluid" src="assets/images/practice/industry.jpg" alt="" />
            <div class="overlay text-center">
              <span class="practice-icon">
                <i class="ion-ios-cog-outline"></i>
              </span>
              <h3 class="practice-title">Industrial Law</h3>
              <p class="practice-details">Lorem ipsum dolor sit amet, consecteturnos mpor incididunt ut labore et dolore magnaaei aliqua. Ut enim ad minim veniam</p>
              <a class="read-more" href="#">Read More</a>
            </div><!-- Item overlay end -->
          </div><!-- Item img end -->
        </div><!-- Practice item end -->
      </div><!-- 6th item col end -->
    </div><!--/ Content row end -->

    <div class="general-btn text-center"><a class="btn btn-primary" href="#">View All</a></div>

  </div><!--/ Container end -->
</section><!-- Practice area end -->
