<section id="image-block" class="image-block no-padding">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 col-md-12 ts-padding img-block-left">
        <h3 class="title-classic">Why Law House</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et tate velit esse cillum dolore eu fugiat nulla pariatur.</p>

        <div class="gap-20"></div>

        <div class="row">
          <div class="col-md-6 col-12">
            <div class="feature">
              <span class="feature-icon">
                <i class="ion-ios-world-outline"></i>
              </span>
              <h3 class="feature-title">Huge Experience</h3>
              <p class="feature-desc">Dolor sit amet, consectetur adipisicing elit sed do eiusmod tempor incididunt.</p>
            </div>
          </div><!--/ End 1st -->
          <div class="col-md-6 col-12">
            <div class="feature">
              <span class="feature-icon">
                <i class="ion-ios-people-outline"></i>
              </span>
              <h3 class="feature-title">Skilled Attorneys</h3>
              <p class="feature-desc">Dolor sit amet, consectetur adipisicing elit sed do eiusmod tempor incididunt.</p>
            </div>
          </div><!--/ End 2nd -->
        </div><!--1st Row end -->

        <div class="gap-20"></div>

        <div class="row">
          <div class="col-md-6 col-xs-12">
            <div class="feature">
              <span class="feature-icon">
                <i class="ion-ios-lightbulb-outline"></i>
              </span>
              <h3 class="feature-title">Amazing Strategy</h3>
              <p class="feature-desc">Dolor sit amet, consectetur adipisicing elit sed do eiusmod tempor incididunt.</p>
            </div>
          </div><!--/ End 3rd -->
          <div class="col-md-6 col-xs-12">
            <div class="feature">
              <span class="feature-icon">
                <i class="ion-ios-analytics-outline"></i>
              </span>
              <h3 class="feature-title">Low Cost</h3>
              <p class="feature-desc">Dolor sit amet, consectetur adipisicing elit sed do eiusmod tempor incididunt.</p>
            </div>
          </div><!--/ End 4th -->
        </div><!--1st Row end -->

      </div><!-- Col end -->
      <div class="col-lg-6 col-md-12 ts-padding" style="height:600px;background:url(assets/images/image-block-bg1.jpg) 50% 50% / cover no-repeat;">
      </div><!-- Col end -->
    </div><!--/ Content row end -->
  </div><!--/ Container end -->
</section><!-- Image block end -->
