<section id="image-block2" class="image-block2 no-padding">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 ts-padding img-block-left">
        <h3 class="title-classic">What People Say</h3>

        <div class="gap-40"></div>

          <div id="testimonial-carousel" class="owl-carousel owl-theme testimonial-slide">
              <div class="item">
                <div class="testimonial-content">
                    <p class="testimonial-text">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor inci done idunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitoa tion ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                   <div class="testimonial-thumb">
                      <img src="assets/images/clients/testimonial1.png" alt="testimonial">
                    </div>
                    <h3 class="testimonial-name">James Anderson<span>Customer Relation</span></h3>

                </div>
              </div><!--/ Item end -->

              <div class="item">
                <div class="testimonial-content">
                    <p class="testimonial-text">
                      Lorem Ipsum as their default model text, and a search for ‘lorem ipsum’ will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes accident.
                    </p>
                   <div class="testimonial-thumb">
                      <img src="assets/images/clients/testimonial2.png" alt="testimonial">
                    </div>
                    <h3 class="testimonial-name">Narek Bedros<span>Sr. Manager</span></h3>
                </div>
              </div><!--/ Item end -->
              <div class="item">
                  <div class="testimonial-content">
                    <p class="testimonial-text">
                      Lorem Ipsum as their default model text, and a search for ‘lorem ipsum’ will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes accident.
                    </p>
                    <div class="testimonial-thumb">
                      <img src="assets/images/clients/testimonial3.png" alt="testimonial">
                    </div>
                    <h3 class="testimonial-name">Taline Lucine<span>Accountant</span></h3>

                  </div>
              </div>
          </div><!--/ Testimonial carousel end-->

      </div><!-- Col end -->

      <div class="col-lg-4 col-md-12 ts-padding img-block-right" style="height:575px;background:url(assets/images/image-block-bg2.jpg) 50% 50% / cover no-repeat;">
        <div class="ts_counter">
          <div class="facts mrb-30">
            <span class="facts-icon">
              <i class="ion-social-bitcoin-outline"></i>
            </span>
            <div class="facts-num">
              <span class="sign">$</span><h3 class="counter">960</h3><span class="amount">M</span>
              <h4 class="facts-title">Saved Till Now</h4>
            </div>
          </div><!-- 1st facts end -->

          <div class="facts mrb-30">
            <span class="facts-icon">
              <i class="ion-ios-people-outline"></i>
            </span>
            <div class="facts-num">
              <h3 class="counter">232</h3><span class="amount">K</span>
              <h4 class="facts-title">Clients</h4>
            </div>
          </div><!-- 2nd facts end -->

          <div class="facts mrb-30">
            <span class="facts-icon">
              <i class="ion-ios-briefcase-outline"></i>
            </span>
            <div class="facts-num">
              <h3 class="counter">731</h3><span class="amount">K</span>
              <h4 class="facts-title">Case Wins</h4>
            </div>
          </div><!-- 3rd facts end -->

          <div class="facts mrb-30">
            <span class="facts-icon">
              <i class="ion-ios-color-filter-outline"></i>
            </span>
            <div class="facts-num">
              <h3 class="counter">82</h3>
              <h4 class="facts-title">Awards</h4>
            </div>
          </div><!-- 4th facts end -->

        </div>
      </div><!-- Col end -->
    </div><!--/ Content row end -->
  </div><!--/ Container end -->
</section><!--/ Image block 2 end -->
