
  <app-top-bar></app-top-bar> <!-- Topbar -->
  <app-header></app-header> <!-- Header -->
  <app-navigation></app-navigation> <!-- Navigation -->
  <app-carousel *ngIf="!route"></app-carousel> <!-- Carousel -->
  <app-banner-area [bgBanner]="getBanner(route)" *ngIf="pageAuthorizedBanner"></app-banner-area>
  <app-breadcrumb *ngIf="route" [pageAuthorizedBanner]="pageAuthorizedBanner" [title]="title_page" [route]="route"></app-breadcrumb>

  <div *ngIf="route" class="container">
    <div *ngIf="route" class="row">
      <router-outlet></router-outlet>
    </div>
  </div>
  
  <router-outlet *ngIf="!route"></router-outlet>
  
  <app-footer></app-footer> <!-- Footer -->
