
  <app-top-bar></app-top-bar> <!-- Topbar -->

  <app-header></app-header> <!-- Header -->

  <app-navigation></app-navigation> <!-- Navigation -->

  <app-carousel></app-carousel> <!-- Carousel -->

  <app-features></app-features><!--/ Featured -->

  <app-about-us></app-about-us> <!-- About us -->

  <app-practice-area></app-practice-area> <!-- Practice area -->

  <app-call-to-action></app-call-to-action> <!-- Action -->

  <app-case-resutls></app-case-resutls> <!-- Case result -->

  <app-image-block></app-image-block> <!-- Image block -->

  <app-attorneys></app-attorneys> <!-- Attorneys -->

  <app-image-block2></app-image-block2> <!-- Image block 2 -->

  <app-news></app-news> <!-- News -->

  <app-quote-area></app-quote-area> <!-- Quote area -->

  <app-clients></app-clients> <!-- Clients -->

  <app-footer></app-footer> <!-- Footer -->
