<section id="news" class="news">
  <div class="container">
    <div class="row text-center">
       <div class="col">
          <h3 class="title-head">Legal News</h3>
          <p class="title-description">Law House is a firm dolor sit amet, consectetur adipisicing elit, sed do eius mod tempor incididunt ut labore et dolore magna </p>
       </div>
    </div><!--/ Title row end -->

    <div class="row">
      <div class="col-lg-4 col-md-12">
        <div class="latest-post">
          <img class="img-fluid" src="assets/images/news/news1.jpg" alt="img">
          <div class="post-body">
            <h4 class="post-title">
              <a href="#">Court Gives Final Approval Tction for Students and Citizens</a>
            </h4>
            <div class="post-text">
              <p>incididunt ut labore et dolore magna aliqua. Ut enim aminim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
          </div>
          <div class="post-bottom">
            <div class="post-item-date pull-left">
              December 11, 2017
            </div>
            <a href="#" class="readmore pull-right">Continue <i class="fa fa-angle-right">&nbsp;</i></a>
          </div>
        </div><!-- Latest post end -->
      </div><!-- 1st post col end -->

      <div class="col-lg-4 col-md-12">
        <div class="latest-post">
          <img class="img-fluid" src="assets/images/news/news2.jpg" alt="img">
          <div class="post-body">
            <h4 class="post-title">
              <a href="#">White &amp; Case opens Florida legal support centre to its customer</a>
            </h4>
            <div class="post-text">
              <p>incididunt ut labore et dolore magna aliqua. Ut enim aminim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
          </div>
          <div class="post-bottom">
            <div class="post-item-date pull-left">
              January 04, 2017
            </div>
            <a href="#" class="readmore pull-right">Continue <i class="fa fa-angle-right">&nbsp;</i></a>
          </div>
        </div><!-- Latest post end -->
      </div><!-- 2nd post col end -->

      <div class="col-lg-4 col-md-12">
        <div class="latest-post">
          <img class="img-fluid" src="assets/images/news/news3.jpg" alt="img">
          <div class="post-body">
            <h4 class="post-title">
              <a href="#">Eversheds to push flexi-lawyer service to international network</a>
            </h4>
            <div class="post-text">
              <p>incididunt ut labore et dolore magna aliqua. Ut enim aminim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
          </div>
          <div class="post-bottom">
            <div class="post-item-date pull-left">
              January 18, 2017
            </div>
            <a href="#" class="readmore pull-right">Continue <i class="fa fa-angle-right">&nbsp;</i></a>
          </div>
        </div><!-- Latest post end -->
      </div><!-- 3rd post col end -->

    </div><!--/ Content row end -->
  </div><!--/ Container end -->
</section><!--/ News end -->
