<section id="news" class="news">
  <div class="container">
    <div class="row text-center">
       <div class="col">
          <h3 class="title-head">Nos publications</h3>
          <p class="title-description">Law House is a firm dolor sit amet, consectetur adipisicing elit, sed do eius mod tempor incididunt ut labore et dolore magna </p>
       </div>
    </div><!--/ Title row end -->

    <div class="row">
      <div class="col-lg-4 col-md-12">
        <div class="latest-post">
          <img class="img-fluid" src="assets/images/integration/2-Nos-idees/4-n-ayons-pas-peur-min.jpg" alt="img">
          <div class="post-body">
            <h4 class="post-title">
              <a href="#">N’ayons pas peur !</a>
            </h4>
            <div class="post-text">
              <p>Depuis le retour au pouvoir de Denis Sassou Nguesso en 1997, le peuple congolais vit dans la peur.</p>
            </div>
          </div>
          <div class="post-bottom">
            <div class="post-item-date pull-left">
              Mardi 19 Mars 2019
            </div>
            <a href="#" class="readmore pull-right">Suite <i class="fa fa-angle-right">&nbsp;</i></a>
          </div>
        </div><!-- Latest post end -->
      </div><!-- 1st post col end -->

      <div class="col-lg-4 col-md-12">
        <div class="latest-post">
          <img class="img-fluid" src="assets/images/integration/2-Nos-idees/2-indignons-nous-min.jpg" alt="img">
          <div class="post-body">
            <h4 class="post-title">
              <a href="#">Indignons-nous de la misère !</a>
            </h4>
            <div class="post-text">
              <p>Nous maintenir dans la misère est un moyen pour le pouvoir d’assoir sa domination. Un peuple qui a faim ...</p>
            </div>
          </div>
          <div class="post-bottom">
            <div class="post-item-date pull-left">
              Vendredi 15 Mars 2019
            </div>
            <a href="#" class="readmore pull-right">Suite <i class="fa fa-angle-right">&nbsp;</i></a>
          </div>
        </div><!-- Latest post end -->
      </div><!-- 2nd post col end -->

      <div class="col-lg-4 col-md-12">
        <div class="latest-post">
          <img class="img-fluid" src="assets/images/integration/2-Nos-idees/10-Citoyennete-et-engagement-nuls.jpg" alt="img">
          <div class="post-body">
            <h4 class="post-title">
              <a href="#">La citoyenneté et l’engagement ...</a>
            </h4>
            <div class="post-text">
              <p>La citoyenneté, si elle relève d’un certain nombre de droits et de devoirs, est aussi un parcours dans la vie de la cité.</p>
            </div>
          </div>
          <div class="post-bottom">
            <div class="post-item-date pull-left">
                Jeudi 14 Mars 2019
            </div>
            <a href="#" class="readmore pull-right">Suite <i class="fa fa-angle-right">&nbsp;</i></a>
          </div>
        </div><!-- Latest post end -->
      </div><!-- 3rd post col end -->

    </div><!--/ Content row end -->
  </div><!--/ Container end -->
</section><!--/ News end -->
