<!-- Header start -->
<header id="header" class="header">
  <div class="container">
    <div class="row">
      <div class="logo col-12 col-md-4">
            <div class="logo-area">
                <a href="index.html">
                   <!-- <img class="img-fluid" src="assets/images/logo.png" alt=""> -->
                   <h2>MPC CONGO</h2>
               </a>
             </div>
          </div><!-- logo end -->

        <div class="col-12 col-md-7 ml-auto header-right">
          <ul class="top-info">
          <li>
            <div class="info-box"><span class="info-icon"><i class="fa fa-phone">&nbsp;</i></span>
              <div class="info-box-content">
              <h3 class="info-box-title">Téléphone</h3>
              <h4 class="info-box-subtitle">(000)-231-5463</h4>
              </div>
            </div>
          </li>
          <li>
            <div class="info-box"><span class="info-icon"><i class="fa fa-envelope-o">&nbsp;</i></span>
              <div class="info-box-content">
                <h3 class="info-box-title">Email</h3>
                <h4 class="info-box-subtitle">contact@mpc-congo.com</h4>
              </div>
            </div>
          </li>
          <li>
            <div class="consult">
              <a href="#"><span>Boîte à idées</span></a>
            </div>
          </li>
        </ul>
        </div><!-- header right end -->
    </div><!-- Row end -->
  </div><!-- Container end -->
</header><!--/ Header end -->
