<section id="about-us" class="about-us">
  <div class="container">
    <div class="row text-center">
          <div class="col">
             <h3 class="title-head">A propos de nous</h3>
             <p class="title-description">Le Mouvement Panafricain et Citoyen « Bougeons-Nous » est avant tout une identité et un espace de réflexion qui a l’ambition de dépasser les clivages anciens.</p>
          </div>
    </div><!--/ Title row end -->

    <div class="row">
             <div class="featured-tab clearfix">
                <ul class="nav nav-tabs flex-column col-lg-3 col-md-6 float-left" role="tablist">
                   <li class="nav-item">
                      <a class="nav-link animated fadeIn active" href="#tab_a" data-toggle="tab">
                         <span class="tab-icon"><i class="ion-ios-sunny-outline"></i></span>
                         <div class="tab-info"><h3>Nos idées</h3></div>
                      </a>
                   </li>
                   <li class="nav-item">
                      <a class="nav-link animated fadeIn" href="#tab_b" data-toggle="tab">
                         <span class="tab-icon"><i class="ion-ios-eye-outline"></i></span>
                         <div class="tab-info"><h3>Vos contributions</h3></div>
                      </a>
                   </li>
                </ul>
                <div class="tab-content col-lg-9 col-md-6 float-right">
                   <div class="tab-pane active animated fadeInRight" id="tab_a">
                      <img class="img-fluid pull-right" src="assets/images/integration/2-Nos-idees/pour-une-societe-integre-ethique.jpg" alt="">
                      <div class="tab-wrapper">
                            <p><i>Nous, Mouvement Panafricain et Citoyen « Bougeons-Nous »  affirmons nos valeurs pour un nouveau Congo libre et prospère.</i></p>
                            
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi </p>
                            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
                            <p>Motam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi archi tecto beatae vitae dicta sunt explicabo. </p>

                            <ul class="check-list">
                                 <li><i class="fa fa-check"></i>ÉGALITE DES CITOYENS : Tous égaux devant la même loi.</li>
                                 <li><i class="fa fa-check"></i>UN SEUL ET MEME PEUPLE: Tous congolais et unis dans la fierté de notre nation.</li>
                                 <li><i class="fa fa-check"></i>LIBERTÉS DÉMOCRATIQUES: Droit d’expression, d’opposition, de réunions, d’associations.</li>
                                 <li><i class="fa fa-check"></i>DEMOCRATIE CITOYENNE: Faire du citoyen un acteur continu de la démocratie.</li>
                                 <li><i class="fa fa-check"></i>RESPCTABILITE DES DIRIGEANTS: Des responsables compétents, expérimentés et intègres.</li>
                                 <li><i class="fa fa-check"></i>PARTAGE DES RICHESSES: Des ressources gérées pour le bien des citoyens.</li>
                            </ul>
                      </div>

                   </div>
                   <div class="tab-pane animated fadeInLeft" id="tab_b">
                         <img class="img-fluid pull-left" src="assets/images/tab/tab2.png" alt="">
                         <h3>We Have Great Vision</h3>
                      <p>Helvetica cold-pressed lomo messenger bag ugh. Vinyl jean shorts Austin pork belly PBR retro, Etsy VHS kitsch actually messenger bag pug. Pbrbp semiotics try-hard, Schlitz occupy dreamcatcher master cleanse Marfa Vice tofu. </p>
                      <ul class="check-list">
                            <li><i class="fa fa-check"></i> Duis autem vel eum iriure</li>
                            <li><i class="fa fa-check"></i> vulputate molestie consequat</li>
                            <li><i class="fa fa-check"></i> Lorem ipsum dolor sit amet</li>
                            <li><i class="fa fa-check"></i> Typi non habent claritatem insitam</li>
                            <li><i class="fa fa-check"></i> Nam liber tempor cum soluta nobi</li>
                         </ul>
                   </div>

                   <div class="tab-pane animated fadeInLeft" id="tab_c">
                         <img class="img-fluid pull-right" src="assets/images/tab/tab3.png" alt="">
                         <h3>We Have Great Vision</h3>
                      <p>Helvetica cold-pressed lomo messenger bag ugh. Vinyl jean shorts Austin pork belly PBR retro, Etsy VHS kitsch actually messenger bag pug. Pbrbp semiotics try-hard, Schlitz occupy dreamcatcher master cleanse Marfa Vice tofu. </p>
                   <ul class="check-list">
                      <li><i class="fa fa-check"></i> Duis autem vel eum iriure</li>
                      <li><i class="fa fa-check"></i> vulputate molestie consequat</li>
                      <li><i class="fa fa-check"></i> Lorem ipsum dolor sit amet</li>
                      <li><i class="fa fa-check"></i> Typi non habent claritatem insitam</li>
                      <li><i class="fa fa-check"></i> Nam liber tempor cum soluta nobi</li>
                   </ul>
                </div><!-- tab content -->
             </div><!-- Featured tab end -->
          </div> <!-- COl End -->
    </div><!--/ Content row end -->
  </div><!--/ Container end -->
</section>
