<!-- Carousel -->
<div id="main-slide" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ol class="carousel-indicators">
      <li data-target="#main-slide" data-slide-to="0" class="active"></li>
     <li data-target="#main-slide" data-slide-to="1"></li>
     <li data-target="#main-slide" data-slide-to="2"></li>
  </ol><!--/ Indicators end-->

  <!-- Carousel inner -->
  <div class="carousel-inner">
     <div class="carousel-item active" style="background-image:url(assets/images/slider/bg1.jpg)">
          <div class="slider-content">
             <div class="col-md-12">
                <div class="slider-text wow slideInLeft" data-wow-delay=".2s">
                  <h2 class="slide-head">LawBiz</h2>
                   <h3 class="slide-title">Your <span>Shelter</span> &amp;<br/>
                   <span>Security</span></h3>
                </div>
                <div class="slider-img wow slideInRight" data-wow-delay=".5s">
                    <img class="pull-right" src="assets/images/slider/img1.png" alt="">
                </div>
              </div>
          </div>
     </div><!--/ Carousel item end -->

     <div class="carousel-item" style="background-image:url(assets/images/slider/bg2.jpg)">
        <div class="slider-content">
             <div class="col-md-12">
                <div class="slider-text text-right">
                  <h2 class="slide-head">Experience</h2>
                   <h3 class="slide-title">You Can<br/><span>Depend</span> &amp; <span>Trust</span></h3>

                   <p>
                    <a href="#" class="slider btn btn-primary">Want Free Case Evaluation</a>
                  </p>
                </div>

              </div>
          </div>
     </div><!--/ Carousel item end -->

  </div><!-- Carousel inner end-->

  <!-- Controllers -->
  <a class="left carousel-control carousel-control-prev" href="#main-slide" data-slide="prev">
      <span><i class="fa fa-angle-left"></i></span>
  </a>
  <a class="right carousel-control carousel-control-next" href="#main-slide" data-slide="next">
      <span><i class="fa fa-angle-right"></i></span>
  </a>
</div><!--/ Carousel end -->
