<!-- Carousel -->
<div id="main-slide" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ol class="carousel-indicators">
      <li data-target="#main-slide" data-slide-to="0" class="active"></li>
     <li data-target="#main-slide" data-slide-to="1"></li>
     <li data-target="#main-slide" data-slide-to="2"></li>
  </ol><!--/ Indicators end-->

  <!-- Carousel inner -->
  <div class="carousel-inner">
     <div class="carousel-item active" style="background-image:url(assets/images/integration/0-Slide/1-Slide.jpg)">
          <div class="slider-content">
             <div class="col-md-12">
                <div class="slider-text wow slideInLeft" data-wow-delay=".2s">
                  <h2 class="slide-head">Espoir</h2>
                  <h3 class="slide-title">
                    « Voulons-nous construire un Congo où celui qui a l’argent, les armes et les milices doit être celui-là qui doit imposer son pouvoir au reste des congolais ? Nous pensons que NON. Alors, cessons de nous apitoyer sur le triste sort de notre pays. Levons-vous et battons-nous efficacement. »<br /><br />
                    <span>Laurent DZABA</span>
                  </h3>
                </div>
              </div>
          </div>
     </div><!--/ Carousel item end -->

     <div class="carousel-item" style="background-image:url(assets/images/integration/0-Slide/2-Slide.jpg)">
        <div class="slider-content">
             <div class="col-md-12">
                <div class="slider-text text-right">
                  <h2 class="slide-head">Philosophie</h2>
                  <h3 class="slide-title">
                    « Ils ont eux-mêmes crée une division entre les ethnies de notre pays pour mieux nous écraser. Le refrain de la tribu est l’alibi qui permet de faire prospérer leur petite épicerie. Alors, sortons du piège du tribalisme. Le Congo est profondément enraciné en chacun de nous et nous sommes condamnés à vivre ensemble. »<br /><br />
                    <span>Laurent DZABA</span>
                  </h3>
                </div>
              </div>
          </div>
     </div><!--/ Carousel item end -->

     <div class="carousel-item" style="background-image:url(assets/images/integration/0-Slide/3-Slide.jpg)">
      <div class="slider-content">
           <div class="col-md-12">
              <div class="slider-text text-right">
                <h2 class="slide-head">Pensée</h2>
                <h3 class="slide-title">
                  Selon l’historien Thucydide « Un homme ne se mêlant pas de politique mérite de passer, non pour un citoyen paisible, mais pour un citoyen inutile ». Depuis trop longtemps, les jeunes et surtout les femmes ont été exclus du jeu politique comme si cela était l’exclusivité d’un cercle fermé. Il est donc temps de rompre avec cette vision obscurantiste car les absents ont toujours tort.<br /><br />
                  <span>Laurent DZABA</span>
                </h3>
              </div>
            </div>
        </div>
   </div><!--/ Carousel item end -->

  </div><!-- Carousel inner end-->

  <!-- Controllers -->
  <a class="left carousel-control carousel-control-prev" href="#main-slide" data-slide="prev">
      <span><i class="fa fa-angle-left"></i></span>
  </a>
  <a class="right carousel-control carousel-control-next" href="#main-slide" data-slide="next">
      <span><i class="fa fa-angle-right"></i></span>
  </a>
</div><!--/ Carousel end -->
