<div id="banner-area" class="banner-area" style="background-image:url(assets/images/integration/5-Adherer/engagement.jpg)">
  <!-- Subpage title start -->
  <div class="banner-text text-center">
       <div class="container">
          <div class="row">
              <div class="col-12">
                  <div class="banner-heading">
                      <h1 class="banner-title">Legal <span>News</span></h1>
                      <h2 class="banner-desc">The Most Beautiful Tag Line Will Go Here !</h2>
                  </div>
                  <ul class="breadcrumb">
                  <li>Home</li>
                  <li>Legal News</li>
                  <li><a href="#"> News Right Sidebar</a></li>
                </ul>
              </div>
          </div>
     </div>
  </div><!-- Subpage title end -->
</div><!-- Banner area end -->