<div class="site-navigation navigation">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="site-nav-inner">
            <nav class="navbar navbar-expand-lg">
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon">
                  <i class="fa fa-bars"></i>
                </span>
              </button>

              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                  <li class="nav-item active">
                    <a href="#" class="nav-link">Acceuil</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="contact.html">Nos idées</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="contact.html">Vos contributions</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="contact.html">Desintox</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="contact.html">Adhérer</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a href="#" class="nav-link" data-toggle="dropdown">
                      Qui sommes-nous ?
                      <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="news-single.html">Documents utiles</a></li>
                    </ul>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="contact.html">Contact</a>
                  </li>
                  <li class="search nav-item d-none d-lg-inline-block"><button class="fa fa-search"></button></li>
                </ul><!--/ Nav ul end -->
              </div>
            </nav><!--/ Collapse end -->
        </div><!-- Site navbar end -->
      </div><!--/ Cold end -->
    </div><!--/ Row end -->
  </div><!--/ Container end -->

  <div class="site-search search-full-width">
    <div class="container">
      <input type="text" placeholder="Sélectionnez votre recherche">
      <span class="close">×</span>
    </div>
  </div>
</div><!--/ Navigation end -->
