<section id="features" class="features">
  <div class="container">
    <div class="row features-row">

      <div class="feature-box col-lg-4 col-md-12">
        <span class="feature-icon">
          <i class="ion-social-buffer-outline"></i>
        </span>
        <div class="feature-box-content">
          <h3 class="title-normal">Aide</h3>
          <p>Aenean et dolor pretium, feugiat leo non, aliquet libero consectetur</p>
        </div>
      </div><!--/ End 1st features -->

      <div class="feature-box two col-lg-4 col-md-12">
        <span class="feature-icon">
          <i class="ion-ios-search"></i>
        </span>
        <div class="feature-box-content">
          <h3 class="title-normal">Recherche</h3>
          <p>Lorem ipsum dolor sit amet, con aipis icing elit, sed do eiusmod tempor</p>
        </div>
      </div><!--/ End 2nd features -->

      <div class="feature-box three col-lg-4 col-md-12">
        <span class="feature-icon">
          <i class="ion-ios-person-outline"></i>
        </span>
        <div class="feature-box-content">
          <h3 class="title-normal">Utilisateur</h3>
          <p>Lorem ipsum dolor sit amet, con aipis icing elit, sed do eiusmod tempor</p>
        </div>
      </div><!--/ End 3rd features -->

    </div><!-- Content row end -->
  </div><!--/ Container end -->
</section><!--/ Featured end -->
