<!-- Attorneys start -->
<section id="attorneys" class="attorneys">
  <div class="container">
    <div class="row text-center">
          <div class="col">
             <h3 class="title-head">Notre Equipe</h3>
             <p class="title-description">Law House is a firm dolor sit amet, consectetur adipisicing elit, sed do eius mod tempor incididunt ut labore et dolore magna </p>
          </div>
    </div><!--/ Title row end -->

    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="team-grid">
          <div class="team-img-wrapper">
            <a href="#"><img  src="assets/images/attorneys/img1.png" alt=""></a>
          </div>
          <div class="team-hover">
            <div class="team-hover-content">
              <h3 class="team-name"><a href="#">Laurent DZABA</a></h3>
                <h4 class="team-desg">Sécrétaire Général</h4>
                <p class="team-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incidid</p>
                <div class="social-icons">
                <a href="#"><i class="ion-social-facebook"></i></a>
                <a href="#"><i class="ion-social-twitter"></i></a>
                <a href="#"><i class="ion-social-googleplus"></i></a>
                <a href="#"><i class="ion-social-instagram"></i></a>
              </div>
            </div>
          </div>
        </div><!--/ Team grid end -->
      </div><!-- 1st team end -->

    </div><!--/ Team row end -->

    <div class="general-btn text-center"><a class="btn btn-primary" href="#">Tout voir</a></div>
  </div><!-- Container end -->
</section><!-- Attorneys end -->
